*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monstserrat', sans-serif;
}
body{
  background: rgb(168, 167, 167);

}
.portada{
  width: 100%;
  height: 300px;
  background:url("../imagenes/03.jpg");
}
header{
  width: 100%;
  background: #fff;
}
.menu{
  /* line-height: 0px; */
}
.logo{
  float: left;
  margin: 10px 200px;
}
.cont-ul {
  display: flex;
 /* padding: 1.5vw;  */
  font-size: 20px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
  padding: 5px;
}
.cont-ul a{
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease;

}
.cont-ul a:hover{
  background: rgb(18, 157, 212);

  /* color: #6d6d6d;  */
}
li{
  list-style: none;
  padding: 1.5vw;
  line-height: 50px;
}
li:hover{
  text-decoration: underline;

}
.ul-second{
  display: none;
  position: absolute;

}
.ul-second > li{

  transform: translateX(-20px);
  text-align: center;

}
.cont-ul .ul-second li a{
  line-height: 0px;

}
.ul-second > li:hover {
   background: rgb(18, 157, 212);  
   border-bottom: solid 1px #fff;
}
.develop:hover > .ul-second{
  display: block;
  
}
.contenedor
{
  background: rgb(228, 228, 228);
  max-width: 1400px;
  margin: 5px  auto;
}
nav{
  width: 100%;
  background-color: rgba(73, 73, 73, 0.7);
}

main img{
  width: 70%;
  margin: 20px;

}
main{
  width: 100%;
}


