*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monstserrat', sans-serif;
}
body{
  background: rgb(168, 167, 167);

}
.portada{
  width: 100%;
  height: 300px;
  background:url("../imagenes/03.jpg");
  background-attachment: fixed; 
}
header{
  width: 100%;
  background: #fff;
}

.logo{
  float: left;
  margin: 10px 200px;
}
header nav div img{
  border-radius: 25%;
}
.menu{
  background: rgba(73, 73, 73, 0.7);
  height: 100px;
  width: 100%;
}
.cont-ul { 
 /* padding: 1.5vw;  */
  display: flex;
  float: right; 
  
}

.cont-ul div li{
  display: flex;
  display: inline-block;
  line-height: 90px;
 margin: 0 5px; 


}
.cont-ul li a{
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;

}
li a.active, li a:hover{
  background: rgb(18, 157, 212);
  transition: .5s;
  text-decoration: underline;
}
.ul-second{
  display: none;
  position: absolute;
}
.ul-second >li a:hover{
  text-decoration: none;
  transform: translateX(-20px);
  border-bottom: solid 1px #fff;
  
}
.ul-second > li:hover{
  margin: 0px 15px;
  transition: .5s;
  display: block;
}
.develop:hover > .ul-second{
  display: block;
}

.contenedor
{
  background: rgb(228, 228, 228);
  max-width: 1400px;
  margin: 10px auto;
  overflow: hidden; /* Sirvio para que aside esté dentro del contenedor*/
}
nav{
  width: 100%;
  background-color: rgba(73, 73, 73, 0.7);
}

main img{
  width: 100%;
  margin: 20px;

}
main{
  width: 70%;
  float: left;
}
.titulo{
  margin-left: 20px;
}
.contenedor main section article{
  margin: 20px;
  width: 100%;
  text-align: justify ;
  font-size: 20px;

}
aside{

  width: 28%;
  /* line-height: 25px; */
  float: right;
  margin: 5px 5px;
  border-radius: 10px;
  border: 0px solid #000;
  margin-top: 87px;
  padding: 10px 10px;
  
}
.section1 a{
    padding: 10px;
    font: 1.2em;
    text-decoration: none;
    font-size: 18px;
}

footer{
  background: #EBB3A9;
  width: 100%;
  float: left;
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
}
.section1 a:link{
  text-decoration: none;
  color: #000;
}
.section1 a:visited{
  color: rgb(73, 139, 224);
}
.section1 a h4:hover{
  text-decoration: underline;
  margin: 0px 10px;
  transition: all 150ms ease;
}
@media screen and (max-width:700px)
{
  body{
    font-size: 14px;
  }
  main{
    width: 90%;
  }
  aside{
    display: none;
  }

}
article .img_info_security{
  background:url(../imagenes/informatic_security.jpg);
  height: 390px;
  color: #fff;
  background-attachment: scroll;
  
}
/*Formularios*/
.formulario {
	width: 70%;
	margin: 15px auto;
	padding: 5px;
	
}


.formulario input[type="text"],
.formulario input[type="email"],
.formulario textarea {
  margin: 5px auto;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border:1px solid;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.formulario textarea{
  min-height: 120px;
  max-height: 300px;
  min-width: 100%;
  max-width: 100%;
}

.formulario input[type="submit"] {
	width: 150px;
	margin: 0 auto;
	padding: 10px;
	border:2px solid ;
  
	
	background: none;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
}
.formulario input[type="submit"]:hover {
	background: #222b20;
  color: white;
  font-size: 1.15rem;
	
}
