*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monstserrat', sans-serif;
}
body{
  background: rgb(168, 167, 167);

}
.portada{
  width: 100%;
  height: 300px;
  background:url("../imagenes/03.jpg");
}
header{
  width: 100%;
  background: #fff;
}

.logo{
  float: left;
  margin: 10px 200px;
}
.cont-ul {
  display: flex;
 /* padding: 1.5vw;  */
  font-size: 20px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 200px;
  padding: 5px;
}
.cont-ul a{
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #fff;
  transition: all 500ms ease;

}
.cont-ul a:hover{
  background: rgb(18, 157, 212);

  /* color: #6d6d6d;  */
}
li{
  list-style: none;
  padding: 1.5vw;
  line-height: 50px;
  transition: all 500ms ease;
}
li:hover{
  text-decoration: underline;

}
.ul-second{
  display: none;
  position: absolute;

}
.ul-second > li{

  transform: translateX(-20px);
  text-align: center;

}
.cont-ul .ul-second li a{
  line-height: 0px;

}
.ul-second > li:hover {
   background: rgb(18, 157, 212);  
   border-bottom: solid 1px #fff;
}
.develop:hover > .ul-second{
  display: block;
  
}
.contenedor
{
  background: rgb(228, 228, 228);
  max-width: 1400px;
  margin: 10px auto;
  overflow: hidden; /* Sirvio para que aside esté dentro del contenedor*/
}
nav{
  width: 100%;
  background-color: rgba(73, 73, 73, 0.7);
}

main img{
  width: 100%;
  margin: 20px;

}
main{
  width: 70%;
  float: left;
}
.titulo{
  margin-left: 20px;
}
.contenedor main section article{
  margin: 20px;
  width: 100%;
  text-align: justify ;
  font-size: 20px;

}
aside{
  background:#e9e9e9;
  width: 28%;
  /* line-height: 25px; */
  float: right;
  margin: 5px 5px;
  border-radius: 10px;
  border: 2px solid #000;
  margin-top: 75px;
  padding: 10px 10px;
  
}
.section1 a{

    padding: 15px;
    font: 1.2em;

    text-decoration: none;
    font-size: 18px;

}

footer{
  background: #EBB3A9;
  width: 100%;
  float: left;
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
}
.section1 a:link{
  text-decoration: none;
  color: #000;
}
.section1 a:visited{
  color: rgb(73, 139, 224);
}
@media screen and (max-width:700px)
{
  body{
    font-size: 14px;
  }
  main{
    width: 90%;
  }
  aside{
    display: none;
  }

}

